<!DOCTYPE html>
{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="maschines">
    <form method="post" action="/machines">
        <table>
            <tr>
                <th>Maschine</th><th>Externe Ip</th>
            </tr>
            <tr>
                {% for m in machines %}
                <td>{{m["name"]}}</td><td>{{m["ip"]}}</td><td><input type="button" name="starten" value="Starten"></td><td><input type="button" name="stoppen" value="Stoppen"></td>
                {% endfor %}
            </tr>
        </table>
    </form>
</div>
{% endblock %}




</html>