<!DOCTYPE html>
{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="maschines">
    <form method="post" action="/machines">
        <table>
            <tr>
                <th>Maschine</th><th>Externe Ip</th><th>Status</th><th>Zone</th>
            </tr>
            {% for m in machines %}
                <tr>
                    <td>{{m["name"]}}</td><td>{{m["ip"]}}</td><td>{{m["status"]}}</td><td>{{m["zone"]}}</td>
                    {% if m["status"] == "TERMINATED" %}
                    <td><button type="submit" name="starten" value="{{m['name']}}">Starten</button></td>
                    {% else %}
                        <td><button type="submit" name="stoppen" value="{{m['name']}}">Stoppen</button</td>
                    {% endif %}
                    <td><button type="submit" name="löschen" value="{{m['name']}}">Löschen</button> </td>
                </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock %}




</html>