<!DOCTYPE html>
{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="templates">
    <form method="post" action="/templates">
        <p>Bitte eine Vorlage auswählen</p>
            {% for t in templates %}
                <div>
                    <input type="radio" name="template" value="{{t}}" id="{{t}}">
                    <label for="{{t}}">{{t}}</label>
                </div>
            {% endfor %}
            <div>
                <p>Bitte einen Namen eingeben (Die Benutzerkennung wird automatisch angehangen)</p>
                <input type="text" name="name" id="name" placeholder="VM Name">
                <label for="zone">Zone auswählen:</label>
                <select name="zone" id="zone">
                        <optgroup label="Europe">
                            {% for zone in zone_dict%}
                                <option value="{{zone}}">{{zone}}</option>
                            {% endfor %}
                        </optgroup>
                </select>
                <button type="submit" name="vm_errstellen" value="VM Erstellen">VM Erstellen</button>
                <a>{{msg}}</a>
            </div>
    </form>
    <button type="button" value="template_erstellen" name="template_erstellen"><a href="/create_template">Template erstellen</a></button>
</div>
{% endblock %}




</html>