<!DOCTYPE html>
{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="templates">
    <form method="post" action="/templates">
        <p>Bitte eine Vorlage auswählen</p>
            {% for t in templates %}
                <div>
                    <input type="radio" name="template" value="{{t}}" id="{{t}}">
                    <label for="{{t}}">{{t}}</label>
                </div>
            {% endfor %}
            <div>
                <p>Bitte einen Namen eingeben (Die Benutzerkennung wird automatisch angehangen)</p>
                <input type="text" name="name" id="name" placeholder="VM Name">
                <label for="zone">Zone auswählen:</label>
                <select name="zone" id="zone">
                    {% for region in zone_dict.keys() %}
                        <optgroup label="{{region}}">
                            {% for zone in zone_dict[region] %}
                                <option value="{{zone}}">{{zone}}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
                <button type="submit" name="vm_errstellen" value="VM Erstellen">VM Erstellen</button>
            </div>
    </form>
</div>
{% endblock %}
<form method="post" action="/templates">
    <table>
        <tr>
            <th>Image</th>
        </tr>
        <tr>
            {% for t in templates %}
            <td>{{t}} <button type="submit" name="vm_erstellen" value={{t}}>VM erstellen</button></td>
            {% endfor %}
        </tr>
    </table>
</form>



</html>