<!DOCTYPE html>
{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="templates">
    <form method="post" action="/templates">
        <table>
            <tr>
                <th>Template</th>
            </tr>
            <tr>
                {% for t in templates %}
                <td>{{t}} <button type="submit" name="vm_erstellen" value={{t}}>VM erstellen</button></td>
                {% endfor %}
            </tr>
        </table>
    </form>
</div>
{% endblock %}
<form method="post" action="/templates">
    <table>
        <tr>
            <th>Image</th>
        </tr>
        <tr>
            {% for t in templates %}
            <td>{{t}} <button type="submit" name="vm_erstellen" value={{t}}>VM erstellen</button></td>
            {% endfor %}
        </tr>
    </table>
</form>



</html>